.index {
  background-image: url('https://www.dexigner.com/images/news/xxw/29381.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 47.12em;
}

.bienvenida img {
  margin-top: 40px;
}

.btn-login {
  margin-top: 430px;
}

.btn-login .col-xs-6 {
  padding-left: 0;
  padding-right: 0;
}

.btn-login a {
  padding: 15px 40px;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.login{
  background-color: transparent;
  border-color: #fff;
}

.init{
  background:linear-gradient(to right,#8D24BB , #F81B89);
  border: none;
}